* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header-link {
    display: flex;
    gap: 58px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    font-size: 32px;
    font-weight: bolder;
    color: black;
    transition: all ease-in-out 0.2s;

}

.nav-link:hover {
    transition: all ease-in-out 0.2s;
    font-size: 32px;
    font-weight: bolder;
    color: black;
    text-shadow: 30px -20px 5px rgba(83, 64, 209, 0.588);
}


.header-wrapper {
    padding-top: 70px;
}



.bg-img {
    background-image: url('./img/Vector\ \(5\).png');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 350px 0 0 -150px;
    width: 1178.48px;
height: 1016.42px;
margin: -350px 0 0 -300px;



}


.walpep {
    width: 550px;
    height: 509px;
    top: -246px;
    left: -702px;
    gap: 0px;
    opacity: 0px;
    background: #0101003D;
    margin: -150px 0 0 470px;
}



.box1{
    width: 133px;
height: 133px;
top: 235px;
left: 865px;
gap: 0px;

border-radius: 5px 0px 0px 0px;
opacity: 0px;
box-shadow: 0px 8px 24px 0px #2FC63C;
background: #FFFFFF;
margin: 225px 0 0 600px;
}


.box2{
    width: 133px;
height: 133px;
top: 235px;
left: 865px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
opacity: 0px;
box-shadow: 0px 7px 29px 0px #64646F33;

background: #FFFFFF;
margin: 225px 0 0 70px;
}


.box3{
    width: 133px;
height: 133px;
top: 235px;
left: 865px;
gap: 0px;

border-radius: 5px 0px 0px 0px;
opacity: 0px;
box-shadow: 1.95px 1.95px 2.6px 0px #00000026;


background: #FFFFFF;
margin: 225px 0 0 70px;
}


.box4{
    width: 133px;
height: 133px;
top: 235px;
left: 865px;
gap: 0px;

border-radius: 5px 0px 0px 0px;
opacity: 0px;
box-shadow: 0px 5px 15px 0px #00000059;



background: #FFFFFF;
margin: 400px 0 0 -535px;
}


.box5{
    width: 133px;
height: 133px;
top: 235px;
left: 865px;
gap: 0px;

border-radius: 5px 0px 0px 0px;
opacity: 0px;
box-shadow: 0px 1px 4px 0px #000000AB;


background: #FFFFFF;
margin: 400px 0 0 70px;
}


.box6{
    width: 133px;
height: 133px;
top: 235px;
left: 865px;
gap: 0px;


border-radius: 5px 0px 0px 0px;
opacity: 0px;
box-shadow: 0px 3px 8px 0px #FF0000;



background: #FFFFFF;
margin: 400px 0 0 70px;
}


.box7{
    width: 133px;
height: 133px;
top: 235px;
left: 865px;
gap: 0px;


border-radius: 5px 0px 0px 0px;
opacity: 0px;
box-shadow: 0px 8px 24px 0px #007FFDEB;



background: #FFFFFF;
margin: 586px 0 0 -535px;
}


.box8{
    width: 133px;
height: 133px;
top: 235px;
left: 865px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
opacity: 0px;
box-shadow: 0px 7px 36px 0px #64646FA8;

background: #FFFFFF;
margin: 586px 0 0 65px;
}


.box9{
    width: 133px;
height: 133px;
top: 235px;
left: 865px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
opacity: 0px;
box-shadow: 0px 8px 24px 0px #3026c2;

background: #FFFFFF;
margin: 586px 0 0 75px;
}


